bin_name="clash"

redir_port="7891"
tproxy_port="1536"
clash_dns_port="1053"
mihomo_dns_forward="true"
fake_ip_range_v4="198.18.0.0/16"
tun_device="Meta"
netfilt_logs="false"

box_user_group="root:net_admin"

box_path="/data/adb/box_bll"
bin_path="${box_path}/bin/${bin_name}"
run_path="${box_path}/run"
pid_file="${run_path}/${bin_name}.pid"

intranet=(0.0.0.0/8 10.0.0.0/8 100.0.0.0/8 127.0.0.0/8 169.254.0.0/16 192.168.0.0/16 172.16.0.0/12 224.0.0.0/4 240.0.0.0/4 255.255.255.255/32)
intranet6=(::/128 ::1/128 ::ffff:0:0/96 100::/64 64:ff9b::/96 2001::/32 2002::/16 2001:db8::/32 fc00::/7 fe80::/10 ff00::/8)

# EasyTier 服务从 DHCP 日志同步实际网段；未分配地址时不改变普通内网豁免。
easytier_proxy_subnet_file="${box_path}/easytier/subnet"
easytier_proxy_subnet=""
if [ -s "${easytier_proxy_subnet_file}" ]; then
  easytier_proxy_subnet=$(sed -n '1p' "${easytier_proxy_subnet_file}")
fi

ipv6="enable"
# disable “关闭” # enable  “开启”

proxy_method="TPROXY"
# REDIRECT: TCP only / TPROXY: TCP + UDP / MIXED: REDIRECT TCP + TUN UDP

proxy_mode="blacklist"
# blacklist / whitelist / core

user_packages_list=()
# 示：Android用户:包名
# 用户空间0 分身999，TUN也需排除包名
# 填写格式示例：("0:com.android.captiveportallogin" "10:com.tencent.mm")

gid_list=()
# 根据proxy_mode配置绕过或者代理，可以通过busybox setuidgid命令任意指定

ap_list=("wlan+" "ap+" "rndis+" "ncm+" "eth+" "p2p+")
ignore_out_list=()

# 网络状态控制代理服务
enable_network_service_control="false"

# 热插拔旁路，在 TUN 模式下会冲突
bypass_via_iptables="true"

# 断开 WiFi 网络后是否启用代理
enable_cellular_proxy="true"

# WiFi 网络下是否启用代理
enable_wifi_proxy="true"

# 启用 WiFi MAC 过滤
enable_mac_filter="true"

# WiFi MAC 过滤，blacklist 黑名单 #whitelist 白名单
use_wifi_list_mode="blacklist"

# 黑名单列表（多个 MAC 地址,用逗号分隔）
blacklist_wifi_macs="00:11:22:33:44:55,aa:bb:cc:dd:ee:ff"

# 白名单列表（多个 MAC 地址,用逗号分隔）
whitelist_wifi_macs="11:22:33:44:55:66,bb:cc:dd:ee:ff:00"
